:root {
    --charcoal: #464655;
    --french-grey: #B7C0CC; 
    --anti-flash-white: #EEF1EF;
    --turquoise: #3ACFC0; 
}

@font-face {
    font-family: "simplyMonoBold"; 
    src: url("SimplyMono-Bold.ttf"); 
}

body {
    background-color: var(--charcoal);
    width: 100vw; 
    height: 100vh; 
    padding: 0px; 
    margin: 0px; 
    overflow: hidden; 
}

h1 {
    color: var(--anti-flash-white);
    font-family: "simplyMonoBold";
    font-size: 4vw;
}

.background-div {
    background-color: var(--charcoal); 
    width: 100vw; 
    height: 100vh; 
    padding: 0px;
    margin: 0px; 
    position: absolute; 
    top: -100vh;
    left: -100vw;
    transition: all 0.5s ease-in-out;
}

.center-title {
    width: fit-content; 
    height: fit-content; 
    position: absolute; 
    top: 50vh;
    left: 50vw; 
    transform: translate(-50%, -50%)
}

.arrow {
    background-color: var(--turquoise); 
    width: 2vw; 
    height: 2vw; 
    position: absolute; 
    border-radius: 0.4vw;
}

#up-arrow {
    top: 1vw; 
    left: 50vw;
    transform: translate(-50%, 0); 
}

#down-arrow {
    bottom: 1vw; 
    left: 50vw; 
    transform: translate(-50%, 0);
}

#left-arrow {
    left: 1vw; 
    top: 50vh; 
    transform: translate(0, -50%); 
}

#right-arrow {
    right: 1vw; 
    top: 50vh;
    transform: translate(0, -50%);
}